@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* BASIC PAGE SETTINGS START */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    user-select: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background: #2E8A99 */
    background: #000;
    color: #000;
    height: 100vh;
}

/* BASIC PAGE SETTINGS END */

/* HEADER SECTION START */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    width: 90em;
    height: 14em;
    padding: 5px;
    background-color: #ddd;
    margin: 2em 0;
}

.title-container::before {
    content: '';
    width: 90.5em;
    height: 14.5em;
    position: absolute;
    border: 4px solid #fff;
    background-color: #000;
    z-index: -1;
}

header h1 {
    font: 900 3.5rem Chakra Petch, sans-serif;
    text-align: center;
    margin: 20px auto;
}

.scores {
    display: flex;
}

.scores p {
    flex: 1 1 auto;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    font-family: 'Chakra Petch', sans-serif;
}

/* HEADER SECTION END */

/* RESULTS SECTION START */

#game-section {
    display: grid;
}

#results {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 2em 0;
    color: #ddd;
}

.selection {
    outline: 10px outset #fff;
    width: 20em;
    height: 20em;
    background: #ddd;
    border-radius: 1em;
    text-align: center;
    display: grid;
}

.selection img {
    width: 5em;
}

.selection div {
    align-self: flex-start;
    justify-self: center;
    display: grid;
    place-content: center;
}

#results .selection p {
    margin-top: 10px;
    font: 900 24px Chakra Petch, sans-serif;
    color: #000;
}

#results p {
    font-size: 40px;
}

.round-result {
    font-weight: 900;
    margin-top: 2em;
}

#results h2 {
    font-size: 55px;
    font-family: 'Chakra Petch';
    text-align: center;
    color: #ddd;
}

.selection-result {
    padding: 10px;
    width: 30%;
}

.play-again {
    height: 5em;
    width: 20em;
    background: #e0e0e0;
    border: none;
    border-radius: 20px;
    font: 900 3em Chakra Petch, sans-serif;
    text-align: center;
    cursor: pointer;
    border: 10px outset;
    justify-self: center;
    margin-top: 1em;
    transition: all .2s linear;
}

.play-again:hover {
    transform: translate(4px, -4px);
    box-shadow: -8px 8px 0 0 #fff;
}

/* RESULTS SECTION END */

/* USER SELECTION START */

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.button-container button{
    width: 10em;
    height: 3em;
    border: solid;
    cursor: pointer;
    background: #ccc;
    font-size: 36px;
    box-shadow: 8px 8px 0 #fff;
    transition: all .2s linear;
}

.button-container button:hover {
    box-shadow: -0px -0px 0 #fff;
}

.button-container button:active {
    transform: scale(0.95);
}

.button-container button img {
    width: 1.5em;
}

/* USER SELECTION END */

/* MEDIA QUERIES SECTION START */

@media (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column;
    }

    #results {
        height: 100%;
    }

    header h1 {
        font-size: 30px;
    }

    #results h2 {
        font-size: 16px;
    }

    #results p {
        font-size: 30px;
    }

    .scores p {
        flex: 1 1 auto;
        font-size: 15px;
    }

    .scores {
        display: flex;
    }

    .button-container button {
        width: fit-content;
        height: max-content;
    }

    .play-again {
        width: 100%;
    }
}

/* MEDIA QUERIES SECTION END */