@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');

/* BASIC PAGE SETTINGS START */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    user-select: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #2E8A99;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

/* BASIC PAGE SETTINGS END */

/* HEADER SECTION START */

header {
    padding: 5px;
}

header h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 20px auto;
}

/* HEADER SECTION END */

/* RESULTS SECTION START */

#results {
    height: 20em;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#results p {
    font-size: 40px;
}

.user-select {
    font-weight: 900;
    font-size: 40px;
}

.round-result {
    font-weight: 900;
}

#results h2 {
    font-size: 40px;
}

.play-again {
    height: 5em;
    width: 15em;
    background: #e0e0e0;
    box-shadow: 4px 4px 5px #888,
               -4px -4px 5px #fff;
    color: #2e8a99;
    border: none;
    border-radius: 20px;
    font: 900 24px Nunito, sans-serif;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

/* RESULTS SECTION END */

/* USER SELECTION START */

#userSelection {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.scores {
    display: flex;
}

.scores p {
    flex: 1 1 auto;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
}

.button-container {
    display: flex;
    padding: 10px;
    gap: 15px;
}

.button-container button{
    height: 3em;
    color: #2E8A99;
    flex: 1;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    border: none;
    text-shadow: 1px 1px 0 #000a;
    cursor: pointer;
    font: 900 24px Nunito, sans-serif;
    background: #e0e0e0;
    box-shadow:  3px 3px 4px #888,
                -3px -3px 4px #ffffff;
    font-size: 36px;
}

/* USER SELECTION END */

/* MEDIA QUERIES SECTION START */

@media (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        font-size: 30px;
    }

    #results h2 {
        font-size: 16px;
    }

    #results p {
        font-size: 30px;
    }

    .scores p {
        flex: 1 1 auto;
        font-size: 15px;
    }

    .scores {
        display: flex;
    }

    .button-container button {
        width: fit-content;
        height: max-content;
    }

    .play-again {
        margin-top: 13em;
        width: 100%;
    }
}

/* MEDIA QUERIES SECTION END */