@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* BASIC PAGE SETTINGS START */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    user-select: none;
}

body {
    background: #F2E7DC;
    color: #fff;
}

/* BASIC PAGE SETTINGS END */

/* HEADER SECTION START */

header {
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.title-container {
    width: 95%;
    height: 100%;
    padding: 15px;
    background-color: #000;
}

.title-container::before {
    content: '';
    width: 94.85%;
    height: 12em;
    position: absolute;
    border: 4px solid #000;
    background: repeating-linear-gradient(
        45deg,
        #000 4px,
        #000 8px,
        #fff 8px,
        #fff 11px
        );
    z-index: -1;
}

header h1 {
    font: 900 3.5rem Chakra Petch, sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.scores  {
    display: flex;
}

.scores p {
    flex: 1 1 auto;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    font-family: 'Chakra Petch', sans-serif;
}

/* HEADER SECTION END */

/* RESULTS SECTION START */

#game-section {
    display: grid;
}

#results {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.selection {
    border: outset #555;
    width: 25vw;
    height: 31vh;
    background: #eee;
    text-align: center;
    display: grid;
    box-shadow: 5px 5px 0 #000;
}

.selection img {
    width: 5em;
}

.selection div {
    align-self: flex-start;
    justify-self: center;
    display: grid;
    place-content: center;
}

.selection p {
    margin-top: 10px;
    font: 900 24px Chakra Petch, sans-serif;
    color: #000;
}

.round-result {
    font-weight: 900;
    width: 15em;
}

#results h2 {
    font-size: 40px;
    font-family: 'Chakra Petch';
    text-align: center;
    color: #000;
}

.choose-message {
    width: 40%;
    color: #000;
    text-align: center;
    font: 900 25px Chakra Petch, sans-serif;
    animation: jumping 1s linear infinite;
    margin: auto;
    margin-top: -1em;
}

@keyframes jumping {
    25% {
        transform: scale(1.01);
    }

    75% {
        transform: scale(0.95);
    }
}

.selection-result {
    padding: 10px;
}

.play-again {
    height: 3em;
    width: 15em;
    background: #ccc;
    border: outset #000;
    font: 900 3em Chakra Petch, sans-serif;
    text-align: center;
    cursor: pointer;
    justify-self: center;
    margin-top: 1em;
    transition: all .2s linear;
}

.play-again:hover {
    transform: translate(4px, -4px);
    box-shadow: -8px 8px 0 0 #000;
    background: #bbb;
}

.play-again:active {
    transform: scale(0.97)
}

.end-message {
    color: #000;
    text-align: center;
    margin-top: 2em;
    font: 900 30px Chakra Petch, sans-serif;
}

/* RESULTS SECTION END */

/* USER SELECTION START */

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.button-container button{
    width: 10em;
    height: 3em;
    border: solid;
    cursor: pointer;
    background: #ccc;
    font-size: 36px;
    box-shadow: 8px 8px 0 #000;
    transition: all .2s linear;
}

.button-container button:hover {
    box-shadow: -0px -0px 0 #000;
    background: #bbb;
}

.button-container button:active {
    transform: scale(0.95);
}

.button-container button img {
    width: 1.5em;
}

/* USER SELECTION END */

/* FOOTER SECTION START */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer h2 {
    text-align: center;
    color: #000;
    font: 900 18px Chakra Petch, sans-serif;
    padding: 5px;
}

/* FOOTER SECTION END */

/* MEDIA QUERIES SECTION START */

@media (max-width: 450px) {
    
    html {
        font-size: 35%;
    }

    header {
        padding: 3em 1em;
    }

    .title-container h1 {
        font-size: 3.5rem;
    }

    .scores p {
        font-size: 2rem;
    }

    .title-container::before {
        width: 90%;
        height: 19em;
    }

    header h1 {
        font-size: 30px;
    }

    #results {
        display: flex;
        justify-content: space-around;
        gap: 0;
        padding: 10px;
        margin-top: 5em;
    }

    .selection {
        width: 30vw;
        height: 15vh;
    }

    .selection p {
        font-size: 3rem;
    }

    .selection img {
        width: 7em;
    }

    #results .selection-result h2 {
        font-size: 3rem;
    }

    .choose-message {
        position: absolute;
        bottom: 12em;
        left: 0;
        right: 0;
        width: 80%;
    }

    .button-container {
        flex-direction: column;
    }

    .button-container button {
        width: 100%;
        font-size: 4.5rem;
    }

    .end-message {
        font-size: 3rem;
        margin-top: 10em;
    }

    footer h2 {
        font-size: 2rem;
    }
}

/* MEDIA QUERIES SECTION END */